.contacts {
    padding: 120px 0 90px;

    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        column-gap: 68px;

    }

    &__photo {
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        &-facebook {
            transform: rotate(90deg);

        }
    }

    &__title {
        padding: 1px 0 0 12px;
        position: relative;
        @include before_circle;
    }

    &__text {
        margin-top: 20px;
    }

    &__social {
        margin-top: 20px;
    }

    &__link {
        img {
            width: 30px;
            height: 30px;
            margin-right: 25px;
        }
    }

    &__form {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 45px 190px 45px;
        justify-content: space-between;
        row-gap: 27px;

        label {
            position: absolute;
            top: -9px;
            left: 12px;
            height: 18px;
            padding: 0 8px;
            font-size: 12px;
            background-color: white;
        }
    }

    &__triggers {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;

    }

    &__policy {
        display: flex;
        align-items: center;
        font-size: 12px;
        span {
            margin-left: 10px;
        }
    }

    &__input {
        position: relative;

        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
        }

    }

    &__textarea {
        grid-column: 1/3;
        position: relative;

        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-size: 12px;
            font-weight: 500;
        }

    }

    &__btn {
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    }
}